*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#f3f5f9;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#004aad;
color:white;
}

.logo{
font-size:28px;
font-weight:bold;
}

nav a{
text-decoration:none;
color:white;
margin-left:25px;
font-size:17px;
}

.hero{
height:250px;
background:linear-gradient(120deg,#004aad,#00a8ff);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
}

.hero h1{
font-size:42px;
margin-bottom:15px;
}

.hero p{
font-size:20px;
}

.search-card{

width:85%;
margin:auto;
margin-top:-45px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.search-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.search-grid input{

padding:15px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;

}

.search-grid button{

background:#004aad;
color:white;
border:none;
border-radius:8px;
font-size:17px;
cursor:pointer;

}

.container{

width:90%;
margin:40px auto;
display:grid;
grid-template-columns:2fr 1fr;
gap:30px;

}

.bus-card{

background:white;
padding:25px;
border-radius:12px;
margin-bottom:25px;
box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.bus-header{

display:flex;
justify-content:space-between;
margin-bottom:20px;

}

.seats{

display:grid;
grid-template-columns:repeat(4,60px);
gap:12px;
margin-top:20px;

}

.seat{

height:50px;
display:flex;
justify-content:center;
align-items:center;
background:#dfe6e9;
border-radius:8px;
cursor:pointer;
font-weight:bold;

}

.seat:hover{
background:#00a8ff;
color:white;
}

.selected{
background:#2ecc71;
color:white;
}

.booking-card{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 12px rgba(0,0,0,.1);
height:300px;

}

.booking-card p{
margin:20px 0;
font-size:18px;
}

#bookBtn{

width:100%;
padding:15px;
border:none;
background:#2ecc71;
color:white;
font-size:18px;
border-radius:8px;
cursor:pointer;

}

#bookBtn:hover{
background:#27ae60;
}

@media(max-width:900px){

.search-grid{
grid-template-columns:1fr;
}

.container{
grid-template-columns:1fr;
}

header{
padding:20px;
flex-direction:column;
}

nav{
margin-top:15px;
}

}
